body {
  margin: 0;
  background: #ffffff;
  color: #fa0082;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Header*/
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: #ffffff;
}

/*Promobar*/
.top-bar {
  background: #fa0082;
  color: #ffffff;
  text-align: center;
  padding: 10px 0px;
  font-size: 14px;
}

.top-bar p {
  margin: 0px;
}

.top-bar strong {
  font-weight: 600;
}

/*Header*/
.main-header {
  padding: 4px 0px;
  background: #ffffff;
}

.header-content {
  margin: 10px;
  padding: 0px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.header-options {
  display: flex;
  gap: 25px;
  align-items: center;
}

.header-options a {
  text-decoration: none;
  font-size: 14px;
  color: #fa0082;
}

/*Logo*/
.logo img {
  width: 140px;
  height: auto;
  display: block;
}

/*Buscador*/
.search-box {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
}

.search-box input {
  width: 800%;
  height: 20px;
  border-radius: 30px;
  border: 1px solid #000000;
  padding: 10px 45px 10px 20px;
  font-size: 16px;
}

/*Barra navegación-menú*/
.nav-menu {
  background: #ffe9f3;
  padding: 10px 60px;
  text-align: center;
}

.nav-menu a {
  display: inline-flex;
  margin: 0px 18px;
  font-size: 14px;
  color: #000000;
  font-weight: 300;
  text-decoration: none;
  transition: 0.3s;
}

.nav-menu a:hover {
  transform: scale(1.05);
  color: #fa0082;
}

/*Banner*/

.banner-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding: 0 80px;
  margin-top: 20px;
}

/*Tarjeta*/
.banner-card {
  background: #f5f5f5;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 400px;
  padding-bottom: 20px;
}

/*Imagen*/
.banner-image {
  flex: 0 0 320px;
  overflow: hidden;
}

.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

/*Texto*/
.banner-content {
  padding: 0px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  color: #202020;
}
.banner-content h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.banner-content p {
  font-size: 14px;
  color: #555;
  margin: 0;
}

.banner-link {
  font-size: 14px;
  text-decoration: underline;
  font-weight: 500;
  margin: 0;
  color: #202020;
}

/*Productos Nuevos y Más Vendidos*/
.carousel-section {
  padding: 0px;
}

.carousel-header {
  margin: 0px 80px 0px 80px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 4px;
}

.carousel-header h2 {
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
}

.carousel-header a {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #202020;
  transition: 0.2s;
}

.carousel-header a:hover {
  color: #fa0082;
}

/*Slider*/
.carousel-wrapper {
  padding: 0px 80px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.carousel {
  display: flex;
  gap: 20px;
  overflow: auto;
  padding: 10px;
}

/*Flechas*/
.btn-arrow {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #000000;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}

/*Tarjetas de Productos*/

.product-card {
  background: #ffffff;
  border-radius: 20px;
  width: 210px;
  height: 300px;
  padding: 18px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 8px #00000015;
}

.image-container {
  width: 100%;
  height: 180px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-card h4 {
  padding-top: 10px;
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}

.product-card p {
  font-size: 12.5px;
  color: #202020;
}

.price {
  font-family: "Abril Fatface", serif;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: auto;
}

.tag {
  position: absolute;
  padding: 4px 8px;
  border-radius: 20px;
  background: #faeef4;
  top: 10px;
  left: 10px;
  font-size: 12px;
}

.add-btn {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 20px;
  padding: 8px 16px;
  border: none;
  opacity: 0;
  box-shadow: 0px 2px 8px #00000015;
  color: #000000;
  font-size: 16px;
  font-family: 'Poppins';
  transition: 0.2s;
  cursor: pointer;
}

.product-card:hover .add-btn {
  opacity: 1;
}

.add-btn:hover {
  color: #fa0082;
}

.favorite {
  position: absolute;
  bottom: 150px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/*Categorías*/
.category-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin: 20px 0px;
  padding: 30px 80px 30px 80px;
  background: #fff5f7;
  overflow-x: auto;
}

/* Tarjeta */
.category-item {
  width: 160px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 6px 6px;
  background: white;
  border-radius: 50px;
  cursor: pointer;
  border: 1.5px solid transparent;
  transition: all 0.3s ease;
  overflow: hidden;
}

/*Imagen circular*/
.category-image {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
}

.category-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Texto */
.category-item p {
  font-size: 13px;
  font-style: italic;
  color: #000;
  transition: color 0.3s ease;
  text-align: left;
  overflow: hidden;
}

.category-item:hover {
  border-color: #fa0082;
}

.category-item:hover p {
  color: #fa0082;
}

/*Footer*/
.footer {
  background: #fa0082;
  color: white;
  padding: 10px 80px 20px 80px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer-container {
  display: grid;
  grid-template-columns: 1.6fr 1px 1fr 1fr 1fr;
  gap: 20px;
  align-items: flex-start;
}

.footer-left h2 {
  font-size: 42px;
  font-weight: 300;
}

.footer-left span {
  font-style: italic;
  font-weight: 500;
}

.footer p {
  font-size: 12px;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #ffffff5c;
  color: #ffffff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 20px;
  transition: transform 0.3s;
}

.btn-icon:hover {
  transform: scale(1.15);
  background: #ffffff;
  color: #fa0082;
}

.divider {
  width: 1px;
  background: #ffffff;
}

.footer-column h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.footer-column a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 13px;
  transition: transform 0.3s;
  transform-origin: left center;
}

.footer-column a:hover {
  transform: scale(1.07);
  font-weight: 600;
}

/*Frase*/
.banner-separador {
  width: 100%;
  background-color: #fa0082;
  padding: 40px 0;
  margin: 20px 0;
  text-align: center;
}

.banner-separador p {
  color: white;
  font-size: 26px;
  font-weight: 300;
  margin: 0;
}

.banner-separador span {
  font-style: italic;
  font-weight: 500;
}

/*Promociones*/
.promo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px 80px 30px 80px;
}

.promo-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
  color: #ffffff;
}

/*Contenedor imagen*/
.promo-image {
  width: 100%;
  height: 450px;
  overflow: hidden;
}

.promo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

/*Zoom*/
.promo-card:hover img {
  transform: scale(1.08);
}

/*Texto*/
.promo-text {
  position: absolute;
  bottom: 18px;
  left: 18px;
}

.promo-text h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.promo-text p {
  margin: 0;
  font-size: 15px;
}

.promo-text span {
  font-size: 14px;
  text-decoration: underline;
}

/*Banners con links*/
.banners-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 0 80px;
  margin-bottom: 30px;
}

.banners-links img {
  width: 100%;
  border-radius: 20px;
}

/*Social Grid IG*/
.banner-social-grid {
  width: 100%;
  background-color: #ffe1e6;
  padding: 40px 0;
  text-align: left;
}

.banner-social-grid p {
  padding-left: 80px;
  color: #202020;
  font-size: 24px;
  font-weight: 300;
}

.banner-social-grid span {
  font-weight: 400;
  font-style: italic;
}

.social-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  padding: 10px 80px 0px 80px;
  box-sizing: border-box;
}

.social-grid img {
  width: 100%;
  border-radius: 16px;
}
